* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header start */
.header {
    background-image: url(../images/nike.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav {
    background: #322E41;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
}

.nav__link {
    color: white;
    text-decoration: none;
    padding: 23px 14px;
    display: block;
    font-size: 16px;
    line-height: 19px;
    transition: 0.5s;
}

.nav__link:hover {
    background-color: white;
    color: #D47300;
}

.header__title {
    margin-top: 167px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.header__text {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.header__text span {
    font-weight: 700;
}

/* Header end */
/* Main start */
body {
    background: #E5E5E5;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box__left {
    max-width: 540px;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}

.box__left img {
    margin-bottom: 20px;
}

.box__title {
    font-size: 22px;
    color: #2C2A2A;
    line-height: 6px;
    margin-bottom: 12px;
}

.box__text {
    font-size: 16px;
    line-height: 19px;
    color: #9B9B9B;
    text-align: justify;
}
.box__right{
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.box__item{
    width: 255px;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    padding: 15px;
}
.box__item img{
    margin-bottom: 12px;
}
.item__text{
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
}
.box{
    margin-top: -30px;
}
/* Main end */
/* footer start */
.footer{
    margin-top: 30px;
    padding: 37px 0 57px;
    background: #322E41;; 
}
.footer__box{
    display: flex;
}
.footer__left,
.footer__right {
    width: 50%;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;

}
.input,
.textarea{
    width: 100%;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    border: none;
    outline: none;
    height: 34px;
    margin-bottom: 10px;
}
.input::placeholder,
.textarea::placeholder{
    font-size: 18px;
    color: #9B9B9B;


} 
.textarea{
    height: 86px;
    resize: none;
}
.button{
    background: #544294;
border-radius: 6px;
border: none;
height: 25px;
font-size: 16px;
line-height: 18px;
color: white;
width: 100%;
}
.footer__list{
    margin-top: 26px;
    margin-left: 34px;
    margin-right: 34px;
    list-style: none;
}
.footer__link{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    line-height: 19px;
    transition: 0.5s;

}
.footer__link:hover{
    color: #D57300;

}
/* footer end */